@model IEnumerable<HotelListingSystem.Models.DiningTableTypes>

@{
    ViewBag.Title = "Index";
    Layout = null;
}



<head>
    <style>
        table {
            width: 90%;
        }
    </style>
    @Html.Partial("_eHead")
</head>

<body>
    <main>
        <div class="container_body">

            <h2>Index</h2>

            <p>
                @Html.ActionLink("Create New", "Create", new { id = 0 }, new { @class = "btn btn-outline-dark" })
            </p>
            <table class="table" id="example" style="width:70%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </main>
</body>
@Html.Partial("_eFooter")
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>