@model IEnumerable<HotelListingSystem.Models.CustomerQuery>
@using HotelListingSystem.Models

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Html.Partial("_eHead")
</head>
<body>
    <main>
        <div class="container_body">
            <h1>Customer Query</h1>
            <p>
                @if (User.IsInRole("Customer"))
                {
                    @Html.ActionLink("Log Query", "LogQuery", "CustomerQuery", new { @class = "btn btn-warning back_btn" })
                }
            </p>
            <br />
            <table class="table" width="90%" id="exampleId">
                <thead>
                    <tr>
                        <th>ㅤㅤㅤㅤㅤ</th>
                        <th>HOTEL NAME</th>
                        <th>QUERY DATE</th>
                        <th>ASSINGED TO</th>
                        <th>STATUS</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td></td>
                            <td>@Html.DisplayFor(modelItem => item.Reservation.Hotel.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreatedDateTime)</td>
                            <td>@Html.Raw(item.AdministratorId == null ? item.Receptionist.FullName : item.Administrator.FullName)</td>
                            <td>@Html.Raw(item.Status)</td>
                            <td>
                                @if (User.IsInRole("Customer"))
                                {
                                    @Html.ActionLink("View Details", "CustomerQueryDetails", "CustomerQuery", new { Id = item.Id }, new { @class = "btn btn-primary" })
                                }
                                else if ((!item.IsEscalated && !item.IsClosed) || (item.IsEscalated && !item.IsClosed))
                                {
                                    @Html.ActionLink("View Query Details", "CustomerQuery", new { id = item.Id }, new { @class = "btn btn-outline-warning" })
                                }
                                else
                                {
                                    @Html.ActionLink("View Details", "CustomerQueryDetails", "CustomerQuery", new { Id = item.Id }, new { @class = "btn btn-primary" })
                                }
                            </td>
                        </tr>

                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>ㅤㅤㅤㅤㅤ</th>
                        <th>HOTEL NAME</th>
                        <th>QUERY DATE</th>
                        <th>ASSINGED TO</th>
                        <th>STATUS</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </main>
</body>
</html>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">
@Html.Partial("_eFooter")
<script type="text/javascript">
    $(document).ready(function () {
        $('#exampleId').DataTable();
    });
</script>


