@model IEnumerable<HotelListingSystem.Models.Reservation>


@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Partial("_eHead")

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
        }

        h1, h2 {
            margin-bottom: 10px;
        }

        .product-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .product {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            text-align: center;
        }

            .product img {
                max-width: 250px;
                max-height: 250px;
                margin-bottom: 15px;
            }

        .add-to-cart {
            background-color: #3498db;
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }

        .cart {
            margin-top: 20px;
            width: 70%;
            margin-left: 15%;
        }

        .cart-items {
            list-style: none;
            padding: 0;
        }

        .cart-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            border-bottom: 1px solid #ccc;
        }

        form {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        label {
            margin-right: 10px;
        }

        input[type="text"] {
            width: 200px; /* Adjust width as needed */
        }

        input[type="submit"] {
            margin-left: 10px;
        }
    </style>
</head>



<body style="background-color: #96969633;">
    <main style="margin-left: 40px; margin-right: 40px; background-color: whitesmoke; padding:40px; border-radius:8px;box-shadow:revert;">
        <h1 style="margin-bottom:20px;">All Reservations </h1>
        @if (!User.IsInRole("Customer"))
        {
            @Html.ActionLink("Payment History", "history", "Payments", new { }, new { @class = "btn btn-sm btn-outline-dark back_btn" })
        }
        <div class="product-list">
            <table class="table" width="90%" id="example">
                <tr>
                    <th>ㅤㅤㅤㅤㅤ</th>
                    <th>Hotel Name</th>
                    <th>Name Reserved In</th>
                    <th>Room Type</th>
                    <th>Check-In Date</th>
                    <th>Check-Out Date</th>
                    <th>Days Reserved</th>
                    <th>Total Payable Cost</th>
                    <th></th>
                </tr>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td></td>
                            <td>@Html.DisplayFor(modelItem => item.Hotel.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.HotelUser.FullName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Room.Name)</td>
                            <td>@Html.Raw(item.CheckInDate.ToString().Substring(0, 10))</td>
                            <td>@Html.Raw(item.CheckOutDate.ToString().Substring(0, 10))</td>
                            <td>@Html.Raw(String.Format($"{((int)(item.CheckOutDate - item.CheckInDate).TotalDays)} days"))</td>
                            <td>@Html.Raw($"{item.TotalCost.ToString("C")} per day")</td>
                            <td>
                                @if (item.PaymentApproved && item.CheckInDate < DateTime.Now)
                                {
                                    @Html.ActionLink("View Events", "events", "event", new { id = item.HotelId, reservationId = item.Id }, new { @class = "btn btn-sm btn-outline-info" })
                                    @Html.Raw(" | ")
                                }
                                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-success" })
                            </td>

                            <td>
                                @if (item.PaymentApproved)
                                {

                                    @Html.ActionLink("Rate Hotel", "Create", "ReviewRatings", new { hotelId = item.HotelId }, new { @class = "btn btn-sm btn-outline-primary" })
                                }

                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>ㅤㅤㅤㅤㅤ</th>
                        <th>Hotel Name</th>
                        <th>Name Reserved In</th>
                        <th>Room Type</th>
                        <th>Check-In Date</th>
                        <th>Check-Out Date</th>
                        <th>Days Reserved</th>
                        <th>Total Payable Cost</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </main>
</body>
</html>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">
@Html.Partial("_eFooter")
<script type="text/javascript">
    $(document).ready(function () {
        $('#exampleId').DataTable();
    });
</script>