@model IEnumerable<HotelListingSystem.Models.Payment>

@{
    ViewBag.Title = "Payments";
}

<h2>Payments</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HotelUser.FullName)
        </th>
        <th>
            Hotel
        </th>
        <th>
            Room
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation.Booked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HotelUser.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservation.Hotel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservation.Room.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @if (item.Reservation.Booked == true)
                {
                    <span>Booked</span>
                }
                else
                {
                    <span>Not Booked</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNumber)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }

</table>
